sheet2scene.ca, www.sheet2scene.ca {
	encode zstd gzip
	reverse_proxy 127.0.0.1:3000
	tls /etc/ssl/cloudflare/s2s-ca.crt /etc/ssl/cloudflare/s2s-ca.key
}

sheet2scene.com, www.sheet2scene.com {
	encode zstd gzip
	redir https://sheet2scene.ca{uri} 301
	tls /etc/ssl/cloudflare/s2s-com.crt /etc/ssl/cloudflare/s2s-com.key
}
